/* Geral */

* {
  font-family: "Rubik", "Varela Round", sans-serif, arial, "open sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Caixa Header*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0%;
}
/*
.imgheader {
    max-width:40%;
    max-height:40%;
    width: auto;
    height: auto;
}
*/

/*Menu*/

header {
  padding: 8px 0;
  height: 90px;
  background-color: rgb(248, 230, 230);
}

.logo {
  float: left;
  position: absolute;
  top: 5%;
  transform: translate(0, -50%);
}

.logo img {
  height: 150px;
  position:relative;
}

.menu {
  float: right;
}

.menu ul {
  position: relative;
  margin-top: 30px;
}
.menu a {
  color: rgb(78, 21, 11);
  text-decoration: none;
}
.menu li {
  padding: 0 60px;
  font-weight: lighter;
  display: inline-block;
}
.menu li.selected {
  font-weight: bold;
}
.menu a:hover {
  text-decoration: underline;
}

/* Banner */

.banner {
  margin: auto;
  width: 100%;
  height: 600px;
  background-image: url("./img/banner_n.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position:relative;
  
  
}
.botao{
    width: 150px;
    text-align: center;
    padding: 16px 30px;
    text-decoration: none;
    font-size: 14px;
    cursor:pointer;
    display:inline-block;
    margin-top: 390px;
    transition-duration: 0.4;
    background-color: rgb(248, 230, 230);
    color:rgba(243, 93, 73, 0.962);
    font-weight: bold;
    border: 1px solid rgb(241, 108, 108);
    border-radius: 30px;
        
}

.btn:hover{
    background-color: rgba(212, 131, 55, 0.445);
    color:rgb(9, 8, 8);
    border: 1px solid rgb(7, 7, 7);

}

/*Footer*/

.main-footer{
    position: relative;
    bottom: 0;
    background-color:  rgb(248, 230, 230);
    color: rgb(68, 18, 10);
    width: 100%;
    height: 180px;    
    left: 0;
    text-align: center;
    font-size: 0.8em;
    padding: 30px;
    
    
}

.main-footer img{
    width: 40px;
    
}

.sociais{
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
    margin: 5px 15px 15px 20px;
    
        
}
.main-footer h3{
    font-size: large;
    text-decoration:overline;
}

.main-footer li{
    font-size: 0.7rem;
   
}

.main-footer p{
    font-size: larger;
    text-decoration: underline;
}
 

/*texto Principal Index*/

.principal h1{
    text-align: center;
    padding: 0em;
    font-size: 50px;
    margin: 0.5em;
}
.principal h2{
    text-align: center;
    padding: 1em;
    font-size: 30px;
    margin: 0em;
}
.principal p{
    text-align: center;
    font-size: 20px;
    color: red;
    height: 150px;
    line-height: 12px;
    
    
}

.cards_Inicio img{
    width: 500px;
    padding: 2px 0em 0 1em;
    border-radius: 50px; 
    margin: 10px 0 50px 0px;
}
.cards_Inicio h2{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    font-style: inherit;
    text-decoration:underline;
    color: rgb(181, 64, 51);
    font-family: 'Rubik', sans-serif,'Rubik Spray Paint', cursive,'Varela Round';
    height: 100px;
    
    }
    
    /*Cards_Doação*/

    #list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: .5rem;
      }
      
      #list > .buttons {
        padding: .2rem 0;
        font-size: 1.5rem;
        background-image: linear-gradient(45deg, #ffcd9f60, #e1673a60);
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      #card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input, label {
        display: block;
        outline: none;
        width: 100%;
      }
      
            
      /* formulario doe*/

      #main-container {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFF;
        border-radius: 10px;
        padding: 25px;
      }
      
      #main-container h1 {
        text-align: center;
        margin-bottom: 25px;
        font-size: 1.6rem;
      }
      
      form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .full-box {
        flex: 1 1 100%;
        position: relative;
      }
      
      .half-box {
        flex: 1 1 45%;
        position: relative;
      }
      
      .spacing {
        margin-right: 2.5%;
      }
      
      label {
        font-weight: bold;
        font-size: .8rem;
      }
      
      input {
        border-bottom: 2px solid #f4aeae;
        padding: 10px;
        font-size: .9rem;
        margin-bottom: 40px;
      }
      
      input:focus {
        border-color: #f4855c;
      }
      
      input[type="submit"] {
        background-color: #f94b30;
        color: #FFF;
        border: none;
        border-radius: 20px;
        height: 40px;
        cursor: pointer;
      }
      
      #agreement {
        margin-right: 5px;
      }
      
      #agreement, #agreement-label {
        display: inline-block;
        width: auto;
      }
      
      .error-validation {
        color: #ff1a1a;
        position: absolute;
        top: 57px;
        font-size: 12px;
      }
      
      .template {
        display: none;
      }

      /*cards doação*/

      .card-doacao {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 2rem;
      }
      
      .card {
        width: 18rem;
        height: 25rem;
        position: relative;
      }
      
      .card-img{
        width: 100%;
        height: 100%;
        background-color: #262626;
        border-radius: 0.5rem;
      }
      
      .card-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        opacity: 0.8;
        transition: opacity 0.3s;
      }
      
      .card:hover .card-img img {
        opacity: 0.5;
      }
      
      .card-info {
        position: absolute;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        padding: 2rem;
        text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
        transition: all 0.3s;
      }
      
      .card-info h2 {
        font-family: var(--font-primary);
        font-size: 2rem;
        font-weight: 500;
        color: #eee;
      }
      
      .card-info h3 {
        font-family: var(--font-action);
        font-weight: bolder;
        color: #48140f;
        margin-bottom: 1.5rem;
      }
      
      .card-info p {
        font-family: var(--font-secundary);
        color: #eee;
        font-weight: 400;
        width: 80%;
        margin-bottom: 2rem;
      }
      
      
      
      .card-info button {
        width: 8rem;
        height: 2.5rem;
      }
      
      .card:hover .card-info {
        bottom: 2rem;
        opacity: 1;
        visibility: visible;
      }